@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background: rgb(46, 134, 193);
  background: linear-gradient(0deg,
      rgba(46, 134, 193, 1) 6%,
      rgba(133, 200, 252, 1) 40%,
      rgba(84, 142, 181, 1) 66%,
      rgba(46, 134, 193, 1) 88%);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  position: relative;
  width: 100%;
  max-width: 900px;
  height: 500px;
  background-color: #fff;
  border-radius: 2.3rem;
  box-shadow: 0 80px 40px -30px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 2.3rem;
  -moz-border-radius: 2.3rem;
  -ms-border-radius: 2.3rem;
  -o-border-radius: 2.3rem;
}

.inner-box {
  position: absolute;
  width: calc(100% - 4.1rem);
  height: calc(100% - 4.1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forms-wrap {
  position: absolute;
  height: 100%;
  width: 45%;
  top: 0;
  left: 55%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: 0.8s ease-in-out;
}

form {
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: opacity 0.3s 0.4s;
  -webkit-transition: opacity 0.3s 0.4s;
  -moz-transition: opacity 0.3s 0.4s;
  -ms-transition: opacity 0.3s 0.4s;
  -o-transition: opacity 0.3s 0.4s;
}

form.sign-up-form {
  opacity: 0;
  pointer-events: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 27px;
  margin-right: 0.3rem;
}

.logo h4 {
  font-size: 1.1rem;
  margin-top: -4px;
  letter-spacing: 0.8px;
  font-weight: 400;
  color: #151111;
}

.heading h2 {
  font-size: 2.2rem;
  letter-spacing: 0.1px;
  font-weight: 400;
  color: #151111;
}

.heading h6 {
  color: #6c6c6c;
  font-weight: 400;
  font-size: 0.75rem;
  display: inline;
}

.toggle {
  color: #4597d9;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 500;
  transition: 0.3s;
}

.toggle:hover {
  color: #6c6c6c;
}

.input-wrap {
  position: relative;
  height: 37px;
  margin-bottom: 2rem;
}

.input-field {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #afafaf;
  padding: 0;
  font-size: 0.95rem;
  color: #000000;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.9rem;
  color: #afafaf;
  pointer-events: none;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.input-field.active {
  border-bottom-color: #000000;
}

.input-field.active+label {
  font-size: 0.7rem;
  top: 1px;
}

.sign-btn {
  display: inline-block;
  width: 100%;
  height: 43px;
  background: rgb(46, 134, 193);
  background: radial-gradient(circle,
      rgba(46, 134, 193, 1) 6%,
      rgba(89, 145, 189, 1) 40%,
      rgba(84, 142, 181, 1) 66%,
      rgba(46, 134, 193, 1) 88%);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
}

.sign-btn:hover {
  background: radial-gradient(circle,
      rgb(42, 183, 249) 0%,
      rgb(87, 192, 241) 50%,
      rgb(23, 177, 243) 100%);
  color: #fff;
  font-size: 0.9rem;
}

.text {
  color: #bcbcbc;
  font-size: 0.7rem;
}

.text a {
  color: #bbb;
  transition: 0.3s;
}

.text a:hover {
  color: #544a96;
}

main.sign-up-mode form.sign-in-form {
  opacity: 0;
  pointer-events: none;
}

main.sign-up-mode form.sign-up-form {
  opacity: 1;
  pointer-events: all;
}

main.sign-up-mode .forms-wrap {
  left: 0%;
}

main.sign-up-mode .carousel {
  left: 45%;
}

.carousel {
  position: absolute;
  height: 100%;
  width: 55%;
  left: 0;
  top: 0;
  background: rgb(46, 134, 193);
  background: radial-gradient(circle,
      rgba(46, 134, 193, 1) 6%,
      rgba(89, 145, 189, 1) 40%,
      rgba(84, 142, 181, 1) 66%,
      rgba(46, 134, 193, 1) 88%);
  display: grid;
  grid-template-rows: auto 1fr;
  padding-bottom: 2rem;
  overflow: hidden;
  border-radius: 2.3rem;
  -webkit-border-radius: 2.3rem;
  -moz-border-radius: 2.3rem;
  -ms-border-radius: 2.3rem;
  -o-border-radius: 2.3rem;
  transition: 0.8s ease-in-out;
  -webkit-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  -ms-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
}

.images-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

.image {
  padding: 20px 50px 10px 50px;
  width: 85%;
  grid-column: 1/2;
  grid-row: 1/2;
  opacity: 0;
  transition: opacity 0.3s, transform 0.5s;
  -webkit-transition: opacity 0.3s, transform 0.5s;
  -moz-transition: opacity 0.3s, transform 0.5s;
  -ms-transition: opacity 0.3s, transform 0.5s;
  -o-transition: opacity 0.3s, transform 0.5s;
}

.img-1 {
  transform: translate(0, -50px);
  -webkit-transform: translate(0, -50px);
  -moz-transform: translate(0, -50px);
  -ms-transform: translate(0, -50px);
  -o-transform: translate(0, -50px);
}

.img-2 {
  transform: scale(0.4, 0.5);
  -webkit-transform: scale(0.4, 0.5);
  -moz-transform: scale(0.4, 0.5);
  -ms-transform: scale(0.4, 0.5);
  -o-transform: scale(0.4, 0.5);
}

.img-3 {
  transform: scale(0.3) rotate(-20deg);
  -webkit-transform: scale(0.3) rotate(-20deg);
  -moz-transform: scale(0.3) rotate(-20deg);
  -ms-transform: scale(0.3) rotate(-20deg);
  -o-transform: scale(0.3) rotate(-20deg);
}

.image.show {
  opacity: 1;
  transform: none;
}

.text-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-wrap {
  max-height: 2rem;
  overflow: hidden;
  margin-bottom: 2rem;
}

.text-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: translateY(0);
  transition: 0.5s;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.text-group h2 {
  color: #fff;
  line-height: 2.2rem;
  font-weight: 600;
  font-size: 1.6rem;
}

.bullets {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bullets span {
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  background-color: #95c6f0;
  margin: 0 0.25rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.bullets span.active {
  width: 1.5rem;
  background-color: #023766;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

@media (max-width: 912px) {
  .box {
    height: auto;
    max-width: 550px;
    overflow: hidden;
  }

  .inner-box {
    position: static;
    transform: none;
    width: revert;
    height: revert;
    padding: 2rem;
  }

  .forms-wrap {
    position: revert;
    width: 100%;
    height: auto;
  }

  form {
    max-width: revert;
    padding: 1.5rem 2.5rem 2rem;
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
    -webkit-transition: transform 0.8s ease-in-out, opacity 0.45s linear;
    -moz-transition: transform 0.8s ease-in-out, opacity 0.45s linear;
    -ms-transition: transform 0.8s ease-in-out, opacity 0.45s linear;
    -o-transition: transform 0.8s ease-in-out, opacity 0.45s linear;
  }

  .heading {
    margin: 2rem 0;
  }

  form.sign-up-form {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }

  main.sign-up-mode form.sign-in-form {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }

  main.sign-up-mode form.sign-up-form {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }

  .carousel {
    position: revert;
    height: auto;
    width: 100%;
    padding: 3rem 2rem;
    display: none;
  }

  .images-wrapper {
    display: none;
  }

  .text-slider {
    width: 100%;
  }
}

@media (max-width: 530px) {
  main {
    padding: 1rem;
  }

  .box {
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
  }

  .inner-box {
    padding: 1rem;
  }

  .carousel {
    padding: 1.5rem 1rem;
    border-radius: 1.6rem;
    -webkit-border-radius: 1.6rem;
    -moz-border-radius: 1.6rem;
    -ms-border-radius: 1.6rem;
    -o-border-radius: 1.6rem;
  }

  .text-wrap {
    margin-bottom: 1rem;
  }

  .text-group h2 {
    font-size: 1.2rem;
  }

  form {
    padding: 1rem 2rem 1.5rem;
  }
}